<!--Navigation Side-->
<div class="leftPane">

    <div class="titleSection">
        <img class="deffoLogo" src="Images/deffoLogo.png">
        <h3 style="float: left;">Jeremy DeFossett</h3>
        <div style="display: table; width: 0; height: 0; clear: both; visibility: none;"></div>
    </div>

    <div class="navSection">
        <ul>
            <li>
                <a class="navLink" href ng-click="hctrl.controller.togglePane('intro')"
                ng-hide="hctrl.controller.showIntroPane" >About</a>
                <a href style="text-decoration: underline;"
                ng-show="hctrl.controller.showIntroPane"><b>About</b></a>
            </li>
            <li>
                <a class="navLink" href ng-click="hctrl.controller.togglePane('skills')"
                ng-hide="hctrl.controller.showSkillsPane" >Skills</a>
                <a href style="text-decoration: underline;"
                ng-show="hctrl.controller.showSkillsPane"><b>Skills</b></a>
            </li>
            <li>
                <a href ng-click="hctrl.controller.togglePane('portfolio')"
                ng-hide="hctrl.controller.showPortfolioPane">Portfolio</a>
                <a href style="text-decoration: underline;"
                ng-show="hctrl.controller.showPortfolioPane"><b>Portfolio</b></a>
            </li>
            <li>
                <a href ng-click="hctrl.controller.togglePane('contact')"
                ng-hide="hctrl.controller.showContactPane">Contact</a>
                <a href style="text-decoration: underline;"
                ng-show="hctrl.controller.showContactPane"><b>Contact</b></a>
            </li>
        </ul>
    </div>

    <div class="socialMediaSection">
        <div class="links">
            <a href="https://github.com/jdeffo/" style="margin-right: 8%;">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            </a>
            <a href="https://linkedin.com/in/jdefossett/">
                <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
            </a>
            <a href="mailto:jdefossett@gmail.com" style="margin-left: 8%;">
                <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
            </a>
        </div>
    </div>

</div>

<!--Content side-->
<div class="introPane" ng-show="hctrl.controller.showIntroPane">

    <div class="introTitle">
        <h1>Why</h1>
        <h3>What</h3>
        <h2>How</h2>
        <div style="display: table; width: 0; height: 0; clear: both; visibility: none;"></div>
    </div>
    <div class="introTxt">
        <p>Simon Sinek stated that great leaders start with why, rather than what.
            Why am I here?  I want to empower people with great technologies
        in order for them to achieve their goals and desires.  How do I accomplish this?
        By working to the best of my ability, constantly learn new technologies, and
        bettering myself on a daily basis.  So what do I do?  I'm a developer.
        I attend Indiana University pursuing a bachelors degree in Computer Science, a certificate
        in Informatics, and a minor in business.  I don't plan on stopping there, however.
        After graduating, I will be working to earn my Masters in Information Systems,
        and later down the road my Masters in Business Administration.  I want to continue to
        work my way up, as I do not believe in complacency, while giving back to
        those around me.</p>
    </div>

    <div class="quoteTxt">
        <h3>"When you want to succeed, as bad as you want to breathe, then you'll be successful"</h3>
    </div>

    <!--<div class="resume">
        <a href="../Downloadables/Resume-DeFossett.pdf"
        download="Resume-DeFossett.pdf"><button type="button" class="resumeButton">Résumé</button></a>
    </div>-->

</div>
<div class="skillsPane" ng-show="hctrl.controller.showSkillsPane">
</div>
<div class="portfolioPane" ng-show="hctrl.controller.showPortfolioPane">

    <h1>Portfolio</h1>

    <div class="projWrap" ng-repeat="card in hctrl.controller.cardList">
        <a href="{{card.link}}">
            <img style="width: 100%;" src="{{card.image}}">
        </a>
        <h3>{{card.title}}</h3>
    </div>


    <div style="display: table; width: 0; height: 0; clear: both; visibility: none;"></div>

</div>


<div class="contactPane" ng-show="hctrl.controller.showContactPane">

    <div class="contactInfo">
      <h2>Contact Information</h2>
        <p><span class="underline">LinkedIn:</span> linkedin.com/in/jdefossett</p>
        <p><span class="underline">GitHub:</span> Github.com/jdeffo</p>
        <p><span class="underline">School Email:</span> jdefosse@indiana.edu</p>
        <p><span class="underline">Personal Email:</span> jdefossett@gmail.com</p>
        <p><span class="underline">Work Email:</span> jdefossett1@humana.com</p>

    </div>

    <div class="contactForm">
      <hr />
      <h2>Send Me a Message</h2>
      <form name="contactForm" ng-submit="cctrl.controller.sendMessage()" novalidate class="form-group">
          <input type="text" placeholder="Name" name="name" class="form-control"
          ng-model="cctrl.model.contact.name" ng-required="true"/><br>
          <input type ="email" placeholder="Email" name="email" class="form-control"
          ng-model="cctrl.model.contact.email" ng-required="true"/><br>
          <textarea placeholder="Your Message" name="message" class="form-control"
          ng-model="cctrl.model.contact.message" ng-required="true"></textarea><br>
          <input type="submit" value="Send" class="resumeButton" style="width: 13%;"/>
          <!--ng-disabled="contactForm.$invalid"-->
      </form>

      {{cctrl.model.contact.result}}
    </div>

</div>

<div style="display: table; width: 0; height: 0; clear: both; visibility: none;"></div>
