<div class="JDBgWrapper">
  <img class="JDMount" src="Images/snowMountFullRes.jpg">
</div>

<div class="JDTitleWrapper">
  <h1 class="JDName">Jeremy DeFossett</h1>
  <h3 class="JDComp">Computer Science</h1>
</div>

<div class="JDIntro">
  <h1 style="font-family: Bebas Neue; margin-left: 3%; margin-top: 1.5%;">Introduction</h1>

  <img class="JDSelfPort" src="Images/SelfPort.jpg">

  <div class="JDIntroTxt">
    <p>	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at ipsum elit. Aliquam odio erat, accumsan a consectetur quis, porta in ligula. Nulla bibendum, libero id interdum interdum, risus arcu imperdiet nulla, eget rutrum massa nunc id leo. Donec suscipit maximus maximus. Proin nec augue nunc. Aliquam vitae tempor risus. Vivamus pharetra dapibus nibh, eu consequat felis efficitur non.
Fusce euismod vehicula augue imperdiet sagittis. Nam id massa ex. Etiam egestas commodo dui, a imperdiet mauris condimentum eget. Sed fermentum massa sit amet rhoncus ultricies. Etiam ac consequat nulla. Nulla vestibulum iaculis orci, a vehicula elit dictum eget. Pellentesque pharetra mi nulla, eu fermentum lacus lacinia vitae.
	Sed venenatis, ex ac tincidunt vulputate, metus est consectetur neque, in fringilla mi ex in elit. Ut id consequat nulla, a tempus turpis. Curabitur ullamcorper viverra ultrices. Proin consequat porttitor orci eu iaculis. In hac habitasse platea dictumst. Nullam dapibus ante molestie diam convallis, a facilisis risus efficitur. Integer et rhoncus augue. Morbi porttitor venenatis turpis in egestas. Aenean accumsan urna augue. Etiam nec tincidunt felis. </p>
</div>
</div>
