<div ng-app="JDeffoApp" ng-controller="HomeController" class="JDNavWrapper">
  <nav class="navbar navbar-inverse navbar-fixed-top" style="border-style: none;">
    <div class="container-fluid" style="background-color: #888789;">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color: black;"><img class="JDLogo" src="Images/JDLogo.png"></a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav pull-right JDNavText">
          <li><a href="#" style="color: black; font-size: 140%;">Introduction</a></li>
          <li><a href="#/portfolio" style="color: black; font-size: 140%;">Portfolio</a></li>
          <li><a href ng-click="hctrl.controller.testText='Success'" style="color: black; font-size: 140%;">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
