<!--Port Side-->
<div class="leftPane">

    <div class="portfolioPicture">
        <img class="img-circle" src="Images/SuitPort.jpg">
    </div>

    <div class="navSection">
        <ul>
            <li>
                <a class="navLink" href ng-click="hctrl.controller.togglePane('intro')" ng-hide="hctrl.controller.showIntroPane" >About</a>
                <a href ng-click="hctrl.controller.togglePane('intro')" style="text-decoration: underline;" ng-show="hctrl.controller.showIntroPane"><b>About</b></a>
            </li>
            <li>
                <a href ng-click="hctrl.controller.togglePane('portfolio')" ng-hide="hctrl.controller.showPortfolioPane">Portfolio</a>
                <a href ng-click="hctrl.controller.togglePane('portfolio')" style="text-decoration: underline;" ng-show="hctrl.controller.showPortfolioPane"><b>Portfolio</b></a>
            </li>
            <li>
                <a href ng-click="hctrl.controller.togglePane('contact')" ng-hide="hctrl.controller.showContactPane">Contact</a>
                <a href ng-click="hctrl.controller.togglePane('contact')" style="text-decoration: underline;" ng-show="hctrl.controller.showContactPane"><b>Contact</b></a>
            </li>
        </ul>
    </div>

    <div class="socialMediaSection">
        <div class="links">
            <a href="https://github.com/jdeffo/" style="margin-right: 8%;">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            </a>
            <a href="https://linkedin.com/in/jdefossett/">
                <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
            </a>
            <a href="mailto:jdefossett@gmail.com" style="margin-left: 8%;">
                <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
            </a>
        </div>
    </div>

</div>

<!--Navigation side-->
<div class="introPane" ng-show="hctrl.controller.showIntroPane">

</div>
<div class="portfolioPane" ng-show="hctrl.controller.showPortfolioPane">

</div>
<div class="contactPane" ng-show="hctrl.controller.showContactPane">

</div>

<div style="display: table; width: 0; height: 0; clear: both; visibility: none;"></div>
