<div class="ProjectsContainer">

  <h1>My personal projects</h1>

  <hr />

  <div class="ProjWrap">
      <a href="https://github.com/jdeffo/JDeffo-Web">
          <img style="width: 100%;" src="Images/stockCode1.jpeg">
      </a>
      <h3>deffoWeb</h3>
  </div>

  <div class="ProjWrap">
      <a href="https://github.com/jdeffo/JDeffo-Web">
          <img style="width: 100%;" src="Images/stockCode2.jpeg">
      </a>
      <h3>Machine Learning</h3>
  </div>

  <div class="ProjWrap">
      <a href="https://github.com/jdeffo/JDeffo-Web">
          <img style="width: 100%;" src="Images/stockCode3.jpeg">
      </a>
      <h3>deffoStocks</h3>
  </div>

  <div class="ProjWrap">
      <a href="https://github.com/jdeffo/JDeffo-Web">
          <img style="width: 100%;" src="Images/stockCode2.jpeg">
      </a>
      <h3>To-Do-List</h3>
  </div>

  <div class="ProjWrap">
      <a href="https://github.com/jdeffo/JDeffo-Web">
          <img style="width: 100%;" src="Images/stockCode3.jpeg">
      </a>
      <h3>Reverse Shell and Key Logger</h3>
  </div>

  <div class="ProjWrap">
      <a href="https://github.com/jdeffo/JDeffo-Web">
          <img style="width: 100%;" src="Images/stockCode1.jpeg">
      </a>
      <h3>GTD</h3>
  </div>
  <div style="display: table; width: 0; height: 0; clear: both; visibility: none;"></div>


</div>
