/*~~~~~NAVBAR~~~~~*/
.JDLogo {
  width: 50%;
  margin-top: -7%;
}
/*~~~HOME~~~*/

/*--Wrappers--*/
.MountWrapper{
    width:100%;
    height:45%;
    position: relative;
}
.IntroWrapper {
    position: relative;
    padding-top: .5%;
}
.PortfolioWrapper {
    background: #b5b5ce;
    /*height: 72%;*/
    position: relative;
    padding-top: .5%;
    padding-bottom: .5%;
}
.ContactWrapper {
    height: 70%;
    position: relative;
    padding-top: .5%;
    padding-bottom: .5%;
}

/*--Content--*/
.MountTitle{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.MountPic {
    width: 100%;
    height: 100%;
}

.IntroHead{
    margin-left: 2%;
}
.SuitPic{
    width: 14%;
    margin-left: auto;
    margin-right: auto;
}
.img-circle {
    border-radius: 50%;
}
.IntroTxt {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}
.IntroTxt p {
    font-size: 150%;
}
.QuoteTxt {
    text-align: center;
    width: 100%;
}
.QuoteTxt p {
    font-size: 140%;
}
.resumeButton {
    width: 100%;
    height: 10%;
    padding-top: 0;
    text-align: center;
}
.JDResumeButton {

}
.PortSamp1 {
    width:30%;
    margin-left: 2.5%;
    float: left;
    text-align: center;
}
.PortSamp2 {
    width:30%;
    margin-left: 2.5%;
    float: left;
    text-align: center;
}
.PortSamp3{
    width:30%;
    margin-left: 2.5%;
    float: left;
    text-align: center;
}
.PortGitTxt {
    width: 100%;
    white-space: nowrap;
    text-align: center;
}
.PortGitTxt h2 {
    bottom: 0;
}

.ContactLinkedin{
    width:30%;
    height: 60%;
    margin-left: 2.5%;
    float: left;
}
.ContactGit{
    width:30%;
    height: 60%;
    margin-left: 2.5%;
    float: left;
    text-align: center;
}
.ContactEmail{
    width:30%;
    height: 60%;
    margin-left: 2.5%;
    float: left;
    text-align: center;
}
.HeathTxt {
    width: 100%;
    white-space: nowrap;
}
.HeathTxt h2 {
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    -ms-transform: translate(-50%); /* IE 9 */
    -webkit-transform: translate(-50%); /* Safari */
    transform: translate(-50%);
}


html,body{
    height:100%;
    padding-top: 25px;
    font-family: Bebas Neue;
    background-color: #cecece;
    margin: 0;
}


::-webkit-scrollbar {
    display: none;
}
