
/*~~~~~NAV~~~~~*/
.JDLogo {
  width: 50%;
  margin-top: -7%;
}

/*~~~~~HOME PAGE~~~~~*/

/*WRAPPERS*/
.BGWrapper {
    background-color: #cecece;
    padding-bottom: 1%;
    font-family: Bebas Neue;
    overflow: hidden;
}
.MountWrapper {
    margin-top: 2.6%;
    height: 480px;
    width: 100%;
}
.IntroWrapper {
    height: 375px;
    margin-top: -1.25%;
    width: 100%;
}
.PortfolioWrapper {
    height: 550px;
    background: #b5b5ce;
    width: 100%;
}
.ContactWrapper {
    height: 300px;
    width: 100%;
    margin-top: -1.2%;
}
.GraphicsWrapper {
    width: 100%;
    margin-top: -2%;
    text-align: center;
}
/*CONTENT*/

/*MountWrapper*/
.Mount {
    width: 100%;
}
.MountTitle {
    text-align: center;
    margin-top: -7%;
}
/*IntroWrapper*/
.SuitPic {
    width: 267px;
    height: 272px;
    margin-left: 3%;
    margin-top: 1%;
    float: left;
}
.IntroTxt {
  font-size: 170%;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  /*padding-right: 322px;*/
}
.IntroHead {
    position: relative;
    left: 55px;
    top: 20px;
}
/*PortfolioWrapper*/
.PortHead {
    position: relative;
    left: 55px;
    top: 20px;
}
.PortSamp1 {
    /*width: 535px;*/
    width: 28%;
    /*height: 410px;*/
    float: left;
    margin-left: 3%;
    margin-top: 1%;
    text-align: center;
    color: black;
}
.PortSamp2 {
    width: 28%;
    /*width: 535px;
    height: 410px;*/
    float: left;
    margin-left: 4.5%;
    margin-top: 1%;
    text-align: center;
    color: black;
}
.PortSamp3 {
    width: 28%;
    /*width: 535px;
    height: 410px;*/
    float: left;
    margin-left: 4.5%;
    margin-top: 1%;
    text-align: center;
    color: black;
}
.PortGit {
    text-align: center;
}
/*ContactWrapper*/
.ContLinkedin {
  position: relative;
  width: 15%;
  margin-left: 13.75%;
  margin-top: 2.5%;
  float: left;
}

.ContGit {
  position: relative;
  width: 15%;
  margin-left: 13.75%;
  margin-top: 1.5%;
  float: left;
}

.ContEmail {
  position: relative;
  width: 12%;
  margin-left: 16.75%;
  margin-top: 1.5%;
  float: left;
}

/*~~~~~~Modal~~~~~~~*/

/*Invalid*/
input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 2px solid red;
}

/*Resizes*/

@media only screen and (min-width: 1762px) and (max-width: 1814px) {
    .IntroWrapper {
        margin-top: -2.5%;
        height: 370px;
    }
}

@media only screen and (min-width: 1705px) and (max-width: 1762px) {
    .IntroWrapper {
        margin-top: -3%;
        height: 365px;
    }
    .PortfolioWrapper {
        height: 525px;
    }
}

@media only screen and (min-width: 1642px) and (max-width: 1705px) {
    .IntroWrapper {
        margin-top: -4.5%;
        height: 360px;
    }
    .PortfolioWrapper {
        height: 515px;
    }
}

@media only screen and (min-width: 1610px) and (max-width: 1642px) {
    .IntroWrapper {
        margin-top: -5.5%;
        height: 355px;
    }
    .PortfolioWrapper {
        height: 500px;
    }
    .MountTitle {
        margin-top: -7.5%;
    }
}

@media only screen and (min-width: 1570px) and (max-width: 1610px) {
    .IntroWrapper {
        margin-top: -6.5%;
        height: 370px;
    }
    .PortfolioWrapper {
        height: 500px;
    }
    .MountTitle {
        margin-top: -7.5%;
    }
}

@media only screen and (min-width: 1534px) and (max-width: 1570px) {
    .IntroWrapper {
        margin-top: -7%;
        height: 360px;
    }
    .PortfolioWrapper {
        height: 500px;
    }
    .MountTitle {
        margin-top: -7.5%;
    }
}

@media only screen and (min-width: 1496px) and (max-width: 1534px) {
    .IntroWrapper {
        margin-top: -7.5%;
        height: 360px;
    }
    .PortfolioWrapper {
        height: 500px;
    }
    .MountTitle {
        margin-top: -7.7%;
    }
}

@media only screen and (min-width: 1450px) and (max-width: 1495px) {
    .IntroWrapper {
        margin-top: -8.5%;
        height: 360px;
    }
    .PortfolioWrapper {
        height: 500px;
    }
    .MountTitle {
        margin-top: -8%;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1450px) {
    .IntroWrapper {
        margin-top: -9.5%;
        height: 360px;
    }
    .PortfolioWrapper {
        height: 470px;
    }
    .MountTitle {
        margin-top: -8%;
    }
}

@media only screen and (min-width: 1340px) and (max-width: 1400px) {
    .IntroWrapper {
        margin-top: -10.5%;
        height: 360px;
    }
    .PortfolioWrapper {
        height: 460px;
    }
    .MountTitle {
        margin-top: -8.5%;
    }
}

@media only screen and (min-width: 1290px) and (max-width: 1340px) {
    .IntroWrapper {
        margin-top: -12%;
        height: 360px;
    }
    .PortfolioWrapper {
        height: 460px;
    }
    .MountTitle {
        margin-top: -9%;
    }
}

@media only screen and (min-width: 1255px) and (max-width: 1295px) {
    .IntroWrapper {
        margin-top: -14%;
        height: 400px;
    }
    .PortfolioWrapper {
        height: 445px;
    }
    .MountTitle {
        margin-top: -10%;
    }
}

@media only screen and (min-width: 1220px) and (max-width: 1255px) {
    .IntroWrapper {
        margin-top: -15%;
        height: 400px;
    }
    .PortfolioWrapper {
        height: 445px;
    }
    .MountTitle {
        margin-top: -10%;
    }
}

@media only screen and (min-width: 1190px) and (max-width: 1220px) {
    .IntroWrapper {
        margin-top: -16%;
        height: 420px;
    }
    .PortfolioWrapper {
        height: 425px;
    }
    .MountTitle {
        margin-top: -10%;
    }
}

@media only screen and (min-width: 1150px) and (max-width: 1190px) {
    .IntroWrapper {
        margin-top: -17.5%;
        height: 440px;
    }
    .PortfolioWrapper {
        height: 425px;
    }
    .MountTitle {
        margin-top: -10%;
    }
}

@media only screen and (min-width: 1120px) and (max-width: 1150px) {
    .IntroWrapper {
        margin-top: -18.5%;
        height: 460px;
    }
    .PortfolioWrapper {
        height: 415px;
    }
    .MountTitle {
        margin-top: -11%;
    }
}

@media only screen and (min-width: 1090px) and (max-width: 1120px) {
    .IntroWrapper {
        margin-top: -20%;
        height: 460px;
    }
    .PortfolioWrapper {
        height: 415px;
    }
    .MountTitle {
        margin-top: -11%;
    }
}

@media only screen and (min-width: 1045px) and (max-width: 1090px) {
    .IntroWrapper {
        margin-top: -21.5%;
        height: 495px;
    }
    .PortfolioWrapper {
        height: 400px;
    }
    .MountTitle {
        margin-top: -11%;
    }
}

@media only screen and (min-width: 1012px) and (max-width: 1045px) {
    .IntroWrapper {
        margin-top: -23%;
        height: 495px;
    }
    .PortfolioWrapper {
        height: 390px;
    }
    .MountTitle {
        margin-top: -11.5%;
    }
}

@media only screen and (min-width: 965px) and (max-width: 1012px) {
    .IntroWrapper {
        margin-top: -24.5%;
        height: 520px;
    }
    .PortfolioWrapper {
        height: 390px;
    }
    .MountTitle {
        margin-top: -12%;
    }
}

@media only screen and (min-width: 913px) and (max-width: 965px) {
    .IntroWrapper {
        margin-top: -26.5%;
        height: 535px;
    }
    .PortfolioWrapper {
        height: 390px;
    }
    .MountTitle {
        margin-top: -12.5%;
    }
}

@media only screen and (min-width: 865px) and (max-width: 913px) {
    .IntroWrapper {
        margin-top: -30%;
        height: 560px;
    }
    .PortfolioWrapper {
        height: 365px;
    }
    .MountTitle {
        margin-top: -13%;
    }
}

@media only screen and (min-width: 830px) and (max-width: 865px) {
    .IntroWrapper {
        margin-top: -34%;
        height: 590px;
    }
    .PortfolioWrapper {
        height: 350px;
    }
    .MountTitle {
        margin-top: -13.5%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 830px) {
    .IntroWrapper {
        margin-top: -36%;
        height: 625px;
    }
    .PortfolioWrapper {
        height: 350px;
    }
    .MountTitle {
        margin-top: -14.5%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
    .IntroWrapper {
        margin-top: -38%;
        height: 665px;
    }
    .PortfolioWrapper {
        height: 350px;
    }
    .MountTitle {
        margin-top: -15%;
    }
}

@media only screen and (min-width: 776px) and (max-width: 790px) {
    .IntroWrapper {
        margin-top: -38.5%;
        height: 700px;
    }
    .PortfolioWrapper {
        height: 335px;
    }
    .MountTitle {
        margin-top: -15%;
    }
}

@media only screen and (min-width: 740px) and (max-width: 776px) {
    .IntroWrapper {
        margin-top: -40.5%;
        height: 540px;
    }
    .IntroTxt {
        font-size: 150%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 120%;
    }
    .PortfolioWrapper {
        height: 335px;
    }
    .MountTitle {
        margin-top: -16%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 740px) {
    .IntroWrapper {
        margin-top: -44%;
        height: 455px;
    }
    .IntroTxt {
        font-size: 130%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 110%;
    }
    .PortfolioWrapper {
        height: 335px;
    }
    .MountTitle {
        margin-top: -16.5%;
    }
}

@media only screen and (min-width: 665px) and (max-width: 695px) {
    .IntroWrapper {
        margin-top: -48%;
        height: 455px;
    }
    .IntroTxt {
        font-size: 125%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 105%;
    }
    .PortfolioWrapper {
        height: 335px;
    }
    .MountTitle {
        margin-top: -17.5%;
    }
}

@media only screen and (min-width: 640px) and (max-width: 665px) {
    .IntroWrapper {
        margin-top: -51.5%;
        height: 410px;
    }
    .IntroTxt {
        font-size: 115%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 105%;
    }
    .PortfolioWrapper {
        height: 335px;
    }
    .MountTitle {
        margin-top: -18%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 640px) {
    .IntroWrapper {
        margin-top: -55%;
        height: 410px;
    }
    .IntroTxt {
        font-size: 110%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 105%;
    }
    .PortfolioWrapper {
        height: 315px;
    }
    .MountTitle {
        margin-top: -19%;
    }
}

@media only screen and (min-width: 575px) and (max-width: 600px) {
    .IntroWrapper {
        margin-top: -60%;
        height: 410px;
    }
    .IntroTxt {
        font-size: 105%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 105%;
    }
    .PortfolioWrapper {
        height: 290px;
    }
    .MountTitle {
        margin-top: -20.7%;
    }
    .PortGit h2 {
        font-size: 175%;
    }
}

@media only screen and (min-width: 562px) and (max-width: 575px) {
    .IntroWrapper {
        margin-top: -64%;
        height: 410px;
    }
    .IntroTxt {
        font-size: 100%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 100%;

    }
    .PortfolioWrapper {
        height: 290px;
    }
    .MountTitle {
        margin-top: -21.5%;
    }
    .PortGit h2 {
        font-size: 175%;
    }
}

@media only screen and (min-width: 540px) and (max-width: 562px) {
    .IntroWrapper {
        margin-top: -66%;
        height: 445px;
    }
    .IntroTxt {
        font-size: 100%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 100%;

    }
    .PortfolioWrapper {
        height: 290px;
    }
    .MountTitle {
        margin-top: -21.5%;
    }
    .PortGit h2 {
        font-size: 175%;
    }
}

@media only screen and (min-width: 525px) and (max-width: 540px) {
    .IntroWrapper {
        margin-top: -70%;
        height: 465px;
    }
    .IntroTxt {
        font-size: 100%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 100%;

    }
    .PortfolioWrapper {
        height: 290px;
    }
    .MountTitle {
        margin-top: -22.5%;
    }
    .PortGit h2 {
        font-size: 175%;
    }
}

@media only screen and (min-width: 515px) and (max-width: 525px) {
    .IntroWrapper {
        margin-top: -74%;
        height: 500px;
    }
    .IntroTxt {
        font-size: 100%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 100%;
    }
    .PortfolioWrapper {
        height: 290px;
    }
    .MountWrapper {
        margin-top: 5%;
    }
    .MountTitle {
        margin-top: -23.5%;
    }
    .PortGit h2 {
        font-size: 175%;
    }
}

@media only screen and (min-width: 414px) and (max-width: 515px) {
    .IntroWrapper {
        margin-top: -74%;
        height: 545px;
    }
    .IntroTxt {
        font-size: 100%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 100%;
    }
    .PortfolioWrapper {
        height: 275px;
    }
    .MountWrapper {
        margin-top: 6%;
    }
    .MountTitle {
        margin-top: -23.5%;
    }
    .PortGit h2 {
        font-size: 160%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 414px) {
    .IntroWrapper {
        margin-top: -100%;
        height: 400px;
    }
    .IntroHead {
        left: 10px;
        font-size: 215%;
    }
    .PortHead {
        left: 10px;
        font-size: 215%;
    }
    .IntroTxt {
        font-size: 100%;
        padding: 5px;
    }
    .IntroTxt h2 {
        font-size: 100%;
    }
    .PortfolioWrapper {
        height: 275px;
    }
    .MountWrapper {
        margin-top: 12%;
    }
    .MountTitle {
        margin-top: -25%;
    }
    .PortGit h2 {
        font-size: 160%;
    }
    .JDName {
        font-size: 200%;
    }
    .JDComp {
        font-size: 200%;
    }
    .SuitPic {
        width: 100px;
    }
}
