/*Style Sheet for Website
Organized by page
Alphabetical
*/

/*--INDEX--*/
.JDBackground {
  background-color: #cecece;
}

/*--NAVBAR-*/
.JDNavWrapper {
  padding-bottom: 0;
  border-color:
  display: block;
}

.JDNavText {
  font-family: Bebas Neue;
}

.JDLogo {
  width: 50%;
  margin-top: -7%;
}

/*--HOME--*/
.JDBgWrapper {
  width: 100%;
  z-index: 0;
  vertical-align: top;
  padding-top: 0;
  margin-top: -1%;
}

.JDHomeAbout {
  border-bottom: 1px solid black;
  background-color: #636f77;
  margin-top: -2%;
}

.JDMount {
  margin-top: 0;
  width: 100%;
  /*opacity: 50%;*/
}

.JDTitleWrapper {
  background-color: e9e9f4;
  text-align: center;
  margin-top: -7%;
}

.JDName {
  font-family: Bebas Neue;
  font-size: 400%;
}

.JDComp {
  font-family: Bebas Neue;
  margin-top: 0;
}

.JDSelfPort {
    width: 10%;
    margin-left: 3%;
    float: left;
}

.JDIntroTxt {
  font-family: Bebas Neue;
  font-size: 150%;
  float: left;
  margin-left: 15%;
  margin-top: -13.3%;
  padding-right: 2%;
}

.JDButtonHold {
  width: 86.5%;
  padding: 0;
  text-align: center;
}

.JDResumeButton {
  position: relative;
  background-color: #c2b0d7;
  color: black;
  border-color: #c2b0d7;
}

.JDPortfolioWrapper {
  width: 100%;
  background-color: #b5b5ce;
}
